#page {
    background-image: url('images/bg.png');
    max-width: 380px;
    max-height: 560px;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
#level {
     color: white;
    padding-left: 10px
}
#exp {
     color: white;
    padding-left: 10px
}